# npm configuration
registry=https://registry.npmmirror.com

# Electron mirror for China
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Other mirrors
puppeteer_download_host=https://npmmirror.com/mirrors
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
python_mirror=https://npmmirror.com/mirrors/python
